node_modules/
bower_components/
builds/**/*
npm-debug.log
.yarnclean
shrinkwrap.yaml

############
## COMPILED
############
assets/dist/css/*
assets/dist/js/wbf-admin.js
assets/dist/js/wbf-admin.min.js
assets/dist/js/wbf-admin.min.js.map
assets/dist/js/includes/spectrum.min.js
assets/dist/js/includes/wbfgmap.min.js
assets/dist/js/includes/wbf-google-map.min.js
assets/dist/js/includes/wbf-google-map.min.js.map

############
## VENDORS (composer)
############
vendor/**/*

############
## VENDORS (components)
############
src/components/**/vendor/**
!src/components/navwalker/vendor/BootstrapNavMenuWalker.php
!src/components/breadcrumb/vendor/breadcrumb-trail.php

############
## VENDORS (bower)
############
assets/vendor

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

_bak/
bin/
tmp/
*.tmp
*.bak
*.bat
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.codekit